<header>
  <p>Contacto de soporte !</p>
</header>
<section>
  <form [formGroup]="formCaptura" (ngSubmit)="procesar()">
    <div class="form-group">
      <label class="form-label">Nombre completo</label>

      <input type="text" formControlName="NombreCompleto" class="form-control">

      <div class="alert alert-danger mt-2" [hidden]="NombreCompleto.valid || NombreCompleto.pristine">
        El nombre es obligatorio
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Nombre de la empresa</label>

      <input type="text" formControlName="NombreEmpresa" class="form-control">

      <div class="alert alert-danger mt-2" [hidden]=" NombreEmpresa.valid || NombreEmpresa.pristine">
        El nombre de la empresa es obligatorio
      </div>

    </div>
    <div class="form-group">
      <label>Correo electrónico</label>

      <input type="email" formControlName="CorreoElectronico" class="form-control">

      <div class="alert alert-danger mt-2" [hidden]=" CorreoElectronico.valid || CorreoElectronico.pristine">
        <span *ngIf="CorreoElectronico.errors?.['required']">
          El correo es obligatorio
        </span>

        <span *ngIf="CorreoElectronico.errors?.['email']">
          El correo debe ser valido
        </span>
      </div>

    </div>
    <article>
      <div class="form-group">
        <label>Teléfono</label>

        <input type="tel" formControlName="Telefono" class="form-control">

      </div>
      <div class="form-group">
        <label>Categoría</label>

        <select class="form-select" formControlName="Categoria">
          <option value="Facturación">Facturación</option>
          <option value="Soporte Técnico">Soporte Técnico</option>
          <option value="Ventas">Ventas</option>
          <option value="Información general">Información general</option>
        </select>

      </div>
    </article>

    <div class="alert alert-danger mt-2" [hidden]=" Telefono.valid || Telefono.pristine">
      <span *ngIf="Telefono.errors?.['required']">
        El teléfono es obligatorio
      </span>

      <span *ngIf="Telefono.errors?.['minlength'] || Telefono.errors?.['maxlength']">
        10 caracteres
      </span>

      <span *ngIf="Telefono.errors?.['pattern']">
        Solo numeros
      </span>
    </div>

    <div class="alert alert-danger mt-2" [hidden]=" Categoria.valid || Categoria.pristine">
      La categoría es obligatoria
    </div>

    <div class="form-group">
      <label>Mensaje</label>

      <textarea formControlName="Mensaje" cols="10" rows="3" class="form-control"></textarea>

      <div class="alert alert-danger mt-2" [hidden]=" Mensaje.valid || Mensaje.pristine">
        El mensaje es obligatorio
      </div>

    </div>
    <button class="btn btn-success" [disabled]="formCaptura.invalid">
      <i class="fa-regular fa-paper-plane"></i>
      Enviar
    </button>
  </form>
      <a class="btn btn-primary" [routerLink]="['/lista']">Listado</a>
</section>